.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background-color: #222;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 5px 0;

  &:hover {
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
  }

  &.google-signin {
    background-color: #4285f4;
    color: #fff;

    &:hover {
      background-color: #7685e6;
      border: none;
    }
  }
}
