.checkout-page {
  width: 90%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;

  .checkout-header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e6e6e6;

    .header-block {
      text-transform: capitalize;
      color: #333;
      font-size: 16px;
      font-weight: 550;
      margin: 0;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
    color: #333;
  }

  .test-warning {
    color: rgb(188, 0, 0);
    text-align: center;
    margin: 50px 0 0 0;
  }
}

@media only screen and (max-width: 1024px) {
  .checkout-page {
    max-width: 100%;
    margin: 30px 0 0 0;
    padding: 0 20px 20px;

    .checkout-header {
      flex-direction: row;
      overflow-x: scroll;
      white-space: nowrap;
    }

    .test-warning {
      margin: 30px 0 0 0;
    }
  }
}
