.cart-sidebar-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;

  .cart-sidebar-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 30px;
    top: 0;
    right: 0;
    height: 100vh;
    width: 28%;
    background-color: #fff;
    z-index: 100;
    transition: right 0.3s ease-out;

    .header-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 40px 0;

      .side-title {
        font-size: 24px;
        font-weight: 550;
        margin: 0;
        padding: 0;
        color: #333;
      }

      .close-side-cont {
        background: transparent;
        cursor: pointer;

        .close-sidebar {
          vertical-align: middle;
          font-size: 30px;
          color: #333;

          &:hover {
            color: #7685e6;
            transition: all 0.3s ease;
          }
        }
      }
    }

    .cart-items {
      height: 90%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      .empty-message {
        font-size: 18px;
        margin: 50px auto;
        color: #333;
      }
    }

    .footer-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: auto 0 30px;

      .sidebar-button {
        background-color: #333;
        font-size: 15px;
        font-weight: 530;
        text-align: center;
        padding: 13px 30px;
        border: none;
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: #7685e6;
          color: #fff;
        }
      }
    }
  }
}
