.paymentform-button {
  position: relative;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 550;
  border: 1px solid #222;
  text-align: center;
  border-radius: 20px;
  background-color: #222;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #222;
      bottom: -10px;
      left: calc(50% - 10px);
      transition: all 0.3s ease;
    }
  }

  &:hover {
    color: #fff;
    background-color: #7685e6;
    border: 1px solid #7685e6;

    &.active {
      &::after {
        border-top-color: #7685e6;
      }
    }
  }
}

.card-element-container {
  width: 80%;
  margin: 20px auto 0;

  .element-container {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
  }

  .checkout-button {
    text-transform: uppercase;
    margin: 20px 0 0 0;
    color: #fff;
    padding: 10px 22px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #222;
    text-align: center;
    border-radius: 20px;
    background-color: #222;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      color: #fff;
      background-color: #7685e6;
      border: 1px solid #7685e6;
    }
  }
}
