.paymentform-button {
  width: 150px;
  margin: 50px 0 0 auto;
  color: #888;
  padding: 10px 25px;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  text-align: center;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #7685e6;
    transition: all 0.3s ease;
  }
}

.card-element-container {
  width: 50vw;
  margin: 10px auto;

  .element-container {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
  }

  .checkout-button {
    margin: 20px 0 0 0;
    color: #888;
    padding: 8px 23px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    text-align: center;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #7685e6;
      transition: all 0.3s ease;
    }
  }
}
