.sign-in-and-sign-up {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px auto;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .sign-in-and-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .sign-in-and-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
}
