.homesection-container {
  padding: 10px 40px;
  margin: 20px 0;

  .section-header {
    font-size: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 5px 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.othersection-container {
  padding: 10px 40px;
  margin: 20px 0;

  .section-header {
    display: none;
    visibility: hidden;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
