@keyframes expandHeight {
  0% {
    max-height: 0;
    opacity: 0.5;
  }
  100% {
    max-height: 280px;
    opacity: 1;
  }
}

.searchfield-container {
  margin-top: 30px;
  position: relative;
  max-height: 0;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;

  &.animate {
    animation: expandHeight 1s ease;
    max-height: 280px;
    opacity: 1;
  }

  .searchfield-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    margin: 3px 10px 0 8px;
    color: #555;
  }

  .searchfield {
    width: 100%;
    padding: 20px;
    padding-left: 40px;
    font-size: 16px;
    border: 1px solid #e6e6e6;

    &::placeholder {
      font-size: 16px;
      color: #777;
    }
  }
}
