.btn-container {
  margin: 0 0 0 10px;

  .sub-btn {
    background-color: #7685e6;
    font-size: 14px;
    font-weight: 530;
    text-align: center;
    padding: 13px 30px;
    margin: 20px 0;
    border: none;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
      background-color: #222;
      color: #fff;
      cursor: pointer;
    }
  }
}
