.dropdown {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .drop-label {
    font-size: 16px;
    color: #555;
    margin: 0 10px 0 0;
  }

  .select-cont {
    width: 90%;
    border: 1px solid #e6e6e6;
    background-color: transparent;
    border-radius: 5px 2px 2px 5px;

    .drop-select {
      width: 50%;
      padding: 8px;
      color: #444;
      font-size: 16px;
      border: 1px solid #bbb;
      outline: 2px solid transparent;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:focus {
        outline: 2px solid #7685e6;
      }

      .drop-option {
        padding: 3px;
        margin: 0 0 3px 0;
        border-bottom: 1px solid #bbb;
      }
    }
  }
}
