.drop-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;

  .dropdown {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .drop-label {
      font-size: 16px;
      color: #555;
      margin: 0 0 10px;
    }

    .drop-select {
      width: 100%;
      padding: 8px;
      color: #444;
      font-size: 16px;
      border: 1px solid #bbb;
      outline: 2px solid transparent;
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:focus {
        outline: 2px solid #7685e6;
      }

      .drop-option {
        padding: 3px;
        margin: 0 0 3px 0;
        border-bottom: 1px solid #bbb;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .drop-grid {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: unset;
    width: 100%;

    .dropdown {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .drop-label {
        font-size: 16px;
        color: #555;
        margin: 0 0 10px;
      }
    }
  }
}
