.cartcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  .carticon {
    font-size: 22px;
    color: #e6e6e6;
    padding: 0 30px;
    cursor: pointer;
    position: relative;

    .cart-badge {
      position: absolute;
      top: -9px;
      right: 22px;
      background-color: #7685e6;
      text-align: center;
      color: #fff;
      padding: 0 3px;
      min-width: 15px;
      height: 15px;
      line-height: 15px;
      font-size: 12px;
    }

    &:hover {
      color: #7685e6;
      transition: all 0.3s ease;
    }
  }
}
