.wish-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 90px;
  margin-bottom: 20px;
  padding: 10px 0;

  input[type="checkbox"] {
    display: none;

    + label {
      position: relative;
      padding-left: 10px;
      margin-right: 10px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
        border-radius: 50%;
        background-color: #fff;
      }

      &::after {
        content: "✔";
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 12px;
        color: #fff;
        display: none;
      }
    }

    &:checked + label::before {
      background-color: #7685e6;
      border: 1px solid #7685e6;
    }

    &:checked + label::after {
      display: block;
    }
  }

  .wish-image-cont {
    width: 100px;
    height: 80px;
    margin: 0 20px 0 0;
    position: relative;

    .wishimage {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .wishoverlay-cont {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
      width: 100%;
      height: 100%;
      transform: scale(0);
      transition: all 0.3s ease;

      .wishoverlay-close {
        font-size: 16px;
        color: #e6e6e6;
        transition: all 0.3s ease;
        cursor: pointer;
        text-align: center;

        &:hover {
          color: #fff;
        }
      }
    }

    &:hover {
      .wishoverlay-cont {
        transform: scale(1);
      }
    }
  }

  .product-details {
    width: 70%;

    .title {
      font-size: 16px;
      margin: 0 0 15px 0;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;
    }

    .price {
      font-size: 14px;
      margin: 0 0 15px 0;
      display: block;
    }
  }
}
