.sign-up-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding: 0 40px;

  .title {
    color: #222;
    margin: 10px 0;
  }

  .subtitle {
    color: #666;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .sign-up-container {
    width: 70vw;
    padding: unset;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .sign-up-container {
    width: 70vw;
    padding: unset;
    margin-top: 25px;
  }
}
