.header {
  margin: 150px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .small {
    font-size: 35px;
    font-family: "Lora", serif;
    font-weight: 530;
    color: #fff;
    margin: 16px 0;
    transform: translateX(100%);
    animation: rollIn 1s forwards;
  }

  .large {
    font-size: 50px;
    font-weight: 750;
    margin: 0 0 20px 0;
    color: #fff;
    transform: translateX(-100%);
    animation: lightSpeedIn 1s forwards;
  }

  .btn {
    .shop-btn {
      background-color: #7685e6;
      font-size: 20px;
      font-weight: 530;
      text-align: center;
      padding: 20px 40px;
      margin: 30px 0;
      border: none;
      border-radius: 50px;
      color: #fff;
      transition: all 0.2s ease;
      opacity: 0;
      transform: translateY(100%);
      animation: fadeIn 0.5s 1s forwards, slideUpAndRotate 1s 0.8s forwards;
    }

    :hover {
      background-color: #fff;
      color: #7685e6;
      cursor: pointer;
    }
  }

  @keyframes rollIn {
    from {
      transform: translateX(-100%) rotate(-120deg);
      opacity: 0;
    }
    to {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  @keyframes lightSpeedIn {
    from {
      transform: translateX(100%) skewX(-30deg);
      opacity: 0;
    }
    to {
      transform: translateX(0) skewX(0deg);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideUpAndRotate {
    from {
      transform: translateY(100%) rotate(0deg);
    }
    to {
      transform: translateY(0) rotate(360deg);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    margin: 70px 0 0 0;

    .small {
      font-size: 20px;
      margin: 10px 0;
    }

    .large {
      font-size: 30px;
      margin: 0 0 10px 0;
      text-align: center;
    }

    .btn {
      .shop-btn {
        font-size: 16px;
        font-weight: 500;
        padding: 12px 20px;
        margin: 15px 0;
      }
    }
  }
}
