.text-container {
  margin: 120px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #e6e6e6;

  .small {
    font-size: 20px;
    font-weight: 530;
    margin: 14px 0;
  }

  .large {
    font-size: 30px;
    font-weight: 750;
    margin: 20px 0;
  }

  .btn {
    .shop-btn {
      background-color: #7685e6;
      font-size: 16px;
      font-weight: 530;
      text-align: center;
      padding: 20px 40px;
      margin: 30px 0;
      border: none;
      border-radius: 50px;
      color: #e6e6e6;
      transition: all 0.3s ease;
    }

    :hover {
      background-color: #e6e6e6;
      color: #7685e6;
      cursor: pointer;
    }
  }
}
