.quantity-control {
  display: flex;
  flex-direction: row;

  .control-decrease {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 45px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 3px 0 0 3px;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #7685e6;
      color: #fff;
      transition: all 0.3s ease;
    }
  }

  .control-increase {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 45px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 0 3px 3px 0;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #7685e6;
      color: #fff;
      transition: all 0.3s ease;
    }
  }

  .quantityfield {
    font-size: 16px;
    padding: 10px;
    width: 45px;
    background-color: #f2f2f2;
    text-align: center;
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
}
