.checkout-item {
  width: 100%;
  display: flex;
  border-bottom: 1.5px solid #e6e6e6;
  padding: 15px 20px;
  font-size: 16px;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

  .image-container {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    margin: 0 30px 0 0;

    .checkout-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .title {
    width: 150px;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .quantity {
    width: 150px;
    color: #333;
    display: flex;
    justify-content: flex-start;
  }

  .price {
    width: 100px;
    color: #333;
    display: flex;
    justify-content: flex-start;
  }

  .remove-button {
    width: 100px;
    padding: 0 0 0 20px;
    font-size: 18px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .checkout-item {
    min-width: 800px;
  }
}
