.container {
  background-image: url("https://media.istockphoto.com/id/1251674446/photo/elegant-man-clothes-concept-set-of-black-wardobe-and-accessories-for-official-party-evening.jpg?s=1024x1024&w=is&k=20&c=yFP6421tzuS9Cw63ZwwGRu1dbWDIPAg1Cskzc-oMdtQ=");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 578px;
  //   position: relative;
}
